Repository vrcd-community/vrchat-docs-localization, pull requests merged in 2023-12, with the labels that each got.

#21 添加一些扩展 Markdown 支持
  docs/.vitepress/config/index.ts
  docs/.vitepress/theme/css/components.css
  docs/markdown.md
  docs/public/mixkit-tick-tock-clock-timer-1045.webm
  package.json
  yarn.lock
Labels: 💡 文档软件:新特性, 💻 文档软件

#24 使用新的 markdown 扩展语法替换 iframe 引用视频
  docs/creators.vrchat.com/avatars/avatar-optimizing-tips.md
  docs/creators.vrchat.com/worlds/examples/obstacle-course/index.md
  docs/creators.vrchat.com/worlds/udon/getting-started-with-udon.md
  docs/creators.vrchat.com/worlds/udon/index.md
  docs/creators.vrchat.com/worlds/udon/networking/index.md
  docs/creators.vrchat.com/worlds/udon/using-build-test.md
  docs/vcc.docs.vrchat.com/index.md
  docs/vcc.docs.vrchat.com/vpm/templates.md
Labels: 📄 文档, 👩‍💻 创作者文档, 📑 文档枢纽, 🕹️ ClientSim, 💾 UdonSharp

#19 更新大量文档翻译
  docs/.vitepress/config/sidebars.ts
  docs/.vitepress/theme/components/Home.vue
  docs/clientsim.docs.vrchat.com/index.md
  docs/clientsim.docs.vrchat.com/systems/architecture.md
  docs/clientsim.docs.vrchat.com/systems/automated-testing.md
  docs/clientsim.docs.vrchat.com/systems/index.md
  docs/clientsim.docs.vrchat.com/systems/runtime/blacklist-manager.md
  docs/clientsim.docs.vrchat.com/systems/runtime/event-dispatcher.md
  docs/clientsim.docs.vrchat.com/systems/runtime/helpers.md
  docs/clientsim.docs.vrchat.com/systems/runtime/highlight-manager.md
  docs/clientsim.docs.vrchat.com/systems/runtime/player-manager.md
  docs/clientsim.docs.vrchat.com/systems/script-execution-order.md
  docs/docs.vrchat.com/OVERVIEW/additional-options/configuration-file.md
  docs/docs.vrchat.com/OVERVIEW/additional-options/launch-options.md
  docs/docs.vrchat.com/OVERVIEW/additional-options/local-vrchat-storage.md
  docs/docs.vrchat.com/OVERVIEW/controls/action-menu.md
  docs/docs.vrchat.com/OVERVIEW/controls/keyboard-and-mouse.md
  docs/docs.vrchat.com/SYSTEM/vrchat-community-labs.md
  docs/docs.vrchat.com/SYSTEM/vrchat-safety-and-trust-system.md
  docs/docs.vrchat.com/VRCHAT-OSC-API/osc-overview/osc-avatar-parameters.md
  docs/docs.vrchat.com/VRCHAT-OSC-API/osc-overview/osc-overview.md
  docs/docs.vrchat.com/VRCHAT-OSC-API/osc-overview/osc-resources.md
  docs/docs.vrchat.com/VRCHAT-OSC-API/osc-overview/osc-trackers.md
  docs/docs.vrchat.com/index.md
  docs/vcc.docs.vrchat.com/guides/bugs-features.md
  docs/vcc.docs.vrchat.com/guides/community-repositories.md
  docs/vcc.docs.vrchat.com/guides/convert-unitypackage.md
  docs/vcc.docs.vrchat.com/guides/create-listing.md
  docs/vcc.docs.vrchat.com/guides/faq.md
  docs/vcc.docs.vrchat.com/guides/finding-the-samples.md
  docs/vcc.docs.vrchat.com/guides/getting-started.md
  docs/vcc.docs.vrchat.com/guides/glossary.md
  docs/vcc.docs.vrchat.com/guides/using-project-template-repos.md
  docs/vcc.docs.vrchat.com/guides/version-matching.md
  docs/vcc.docs.vrchat.com/index.md
  docs/vcc.docs.vrchat.com/legacy-sdk.md
  docs/vcc.docs.vrchat.com/roadmap.md
  docs/vcc.docs.vrchat.com/tools/vrc-quick-launcher.md
  docs/vcc.docs.vrchat.com/vpm/cli.md
  docs/vcc.docs.vrchat.com/vpm/curated-community-packages.md
  docs/vcc.docs.vrchat.com/vpm/index.md
  docs/vcc.docs.vrchat.com/vpm/migrating.md
  docs/vcc.docs.vrchat.com/vpm/packages.md
  docs/vcc.docs.vrchat.com/vpm/repos.md
  docs/vcc.docs.vrchat.com/vpm/resolver.md
  docs/vcc.docs.vrchat.com/vpm/source-control.md
  docs/vcc.docs.vrchat.com/vpm/templates.md
Labels: 📝 在做了, 🆕 新翻译, 📑 文档枢纽, 🕹️ ClientSim, VCC, ✨ 翻译文本改进

#28 使用 CC BY-NC-SA 4.0 许可证作为文档翻译后内容许可证
  LICENSE
  README.md
Labels: 📄 文档

#30 图片自动生成 WebP 版本，优化图片压缩
  docs/.vitepress/config/index.ts
  package.json
  yarn.lock
Labels: 💡 文档软件:新特性, 💻 文档软件

#31 避免 PWA 重复缓存图片的多个版本
  docs/.vitepress/config/index.ts
Labels: 💻 文档软件, 🐛 文档软件:Bug

#32 首页 VRChat 图标使用 svg
  docs/.vitepress/theme/components/Home.vue
  docs/public/assets/vrchat.svg
Labels: 💻 文档软件

#33 新的首页 Banner，升级依赖，补全版权信息
  README.md
  docs/.vitepress/config/index.ts
  docs/.vitepress/theme/components/Home.vue
  docs/.vitepress/theme/components/HomeBanner.vue
  docs/markdown.md
  docs/public/assets/banner/banner-background.svg
  docs/public/assets/banner/banner.svg
  docs/public/assets/banner/dot-sheet.png
  docs/public/assets/banner/shape.svg
  docs/public/assets/banner/text-layer.svg
  package.json
  yarn.lock
Labels: 💡 文档软件:新特性, 💻 文档软件

#35 修复死链
  docs/creators.vrchat.com/avatars/animator-parameters.md
  docs/creators.vrchat.com/avatars/avatar-dynamics/contacts.md
  docs/creators.vrchat.com/avatars/avatar-dynamics/physbones.md
  docs/creators.vrchat.com/avatars/avatar-impostors.md
  docs/creators.vrchat.com/avatars/avatar-optimizing-tips.md
  docs/creators.vrchat.com/avatars/state-behaviors.md
  docs/creators.vrchat.com/sdk/index.md
  docs/creators.vrchat.com/sdk/sdk-troubleshooting.md
  docs/creators.vrchat.com/sdk/upgrade/current-unity-version.md
  docs/creators.vrchat.com/sdk/upgrade/index.md
  docs/creators.vrchat.com/sdk/upgrade/migrating-to-a-newer-minor-unity-version.md
  docs/creators.vrchat.com/sdk/upgrade/unity-2022.md
  docs/creators.vrchat.com/sdk/upgrade/worlds-and-avatars-in-2022.md
  docs/creators.vrchat.com/worlds/components/vrc_pickup.md
  docs/creators.vrchat.com/worlds/creating-your-first-world.md
  docs/creators.vrchat.com/worlds/udon/graph/special-nodes.md
  docs/docs.vrchat.com/OVERVIEW/additional-options/launch-options.md
  docs/docs.vrchat.com/WORLDS/upgrading-unity-projects/migrating-to-a-newer-minor-unity-version.md
Labels: 📄 文档, 👩‍💻 创作者文档

#38 改了一点东西，主要集中在修改基本概念和一些表述方式。暂未进行系统的语法和表达优化。
  docs/creators.vrchat.com/avatars/index.md
Labels: 📄 文档, 👩‍💻 创作者文档, ✨ 翻译文本改进, 译文有误
