Repository vrcd-community/vrchat-docs-localization, pull requests merged in 2023-11, with the labels that each got.

#10 添加创作者文档平台相关内容翻译
  docs/creators.vrchat.com/platforms/android/android-best-practices.md
  docs/creators.vrchat.com/platforms/android/cross-platform-setup.md
  docs/creators.vrchat.com/platforms/android/index.md
  docs/creators.vrchat.com/platforms/android/quest-content-limitations.md
  docs/creators.vrchat.com/platforms/android/quest-content-optimization.md
  docs/creators.vrchat.com/platforms/android/setting-up-unity-for-creating-quest-content.md
  docs/creators.vrchat.com/platforms/index.md
Labels: 📄 文档, 🎉 欢迎新人, 🆕 新翻译, 👩‍💻 创作者文档

#11 创作者文档 平台特异 更改为 跨平台
  docs/.vitepress/config/sidebars.ts
  docs/creators.vrchat.com/platforms/index.md
Labels: 📄 文档, 👩‍💻 创作者文档

#13 润色和纠错
  docs/docs.vrchat.com/GUIDES/adjusting-your-avatars-height.md
  docs/docs.vrchat.com/GUIDES/setup-2fa.md
Labels: 🤯 翻译文本出错, 📄 文档, 📑 文档枢纽, ✨ 翻译文本改进

#15 文档部分润色
  docs/creators.vrchat.com/getting-started.md
  docs/creators.vrchat.com/sdk/index.md
  docs/creators.vrchat.com/sdk/sdk-troubleshooting.md
  docs/docs.vrchat.com/ADVANCED-GUIDES/using-vrchat-in-a-virtual-machine.md
  docs/docs.vrchat.com/GUIDES/setup-2fa.md
  docs/docs.vrchat.com/GUIDES/suggesting-localization-changes.md
  docs/docs.vrchat.com/OVERVIEW/additional-options/additional-options.md
  docs/docs.vrchat.com/OVERVIEW/additional-options/configuration-file.md
  docs/docs.vrchat.com/OVERVIEW/additional-options/gesture-toggle.md
  docs/docs.vrchat.com/OVERVIEW/additional-options/launch-options.md
  docs/docs.vrchat.com/OVERVIEW/additional-options/local-vrchat-storage.md
  docs/docs.vrchat.com/OVERVIEW/additional-options/vrchat-configuration-window.md
  docs/docs.vrchat.com/OVERVIEW/controls/action-menu.md
  docs/docs.vrchat.com/OVERVIEW/controls/controls.md
  docs/docs.vrchat.com/OVERVIEW/controls/gamepad.md
  docs/docs.vrchat.com/OVERVIEW/controls/keyboard-and-mouse.md
  docs/docs.vrchat.com/OVERVIEW/controls/touch.md
  docs/docs.vrchat.com/OVERVIEW/controls/valve-index.md
  docs/docs.vrchat.com/OVERVIEW/controls/vive.md
  docs/docs.vrchat.com/OVERVIEW/frequently-asked-questions.md
  docs/docs.vrchat.com/OVERVIEW/getting-started.md
  docs/docs.vrchat.com/OVERVIEW/welcome-to-vrchat.md
  docs/docs.vrchat.com/SYSTEM/avatar-dynamic-bone-limits.md
  docs/docs.vrchat.com/SYSTEM/avatar-fallback-system.md
  docs/docs.vrchat.com/SYSTEM/avatar-particle-system-limits.md
  docs/docs.vrchat.com/SYSTEM/full-body-tracking/full-body-tracking.md
  docs/docs.vrchat.com/SYSTEM/permissions-and-settings.md
  docs/docs.vrchat.com/SYSTEM/public-avatar-cloning.md
  docs/docs.vrchat.com/SYSTEM/vrchat-community-labs.md
  docs/docs.vrchat.com/SYSTEM/vrchat-safety-and-trust-system.md
  docs/docs.vrchat.com/VRCHAT-OSC-API/osc-overview/osc-as-input-controller.md
  docs/docs.vrchat.com/VRCHAT-OSC-API/osc-overview/osc-avatar-parameters.md
  docs/docs.vrchat.com/VRCHAT-OSC-API/osc-overview/osc-debugging.md
  docs/docs.vrchat.com/WORLDS/upgrading-unity-projects/migrating-to-a-newer-minor-unity-version.md
Labels: 📄 文档, 📑 文档枢纽, ✨ 翻译文本改进

#16 完成创作者文档 SDK 部分二次校对
  docs/creators.vrchat.com/getting-started.md
  docs/creators.vrchat.com/sdk/build-pipeline-callbacks-and-interfaces.md
  docs/creators.vrchat.com/sdk/current-unity-version.md
  docs/creators.vrchat.com/sdk/index.md
  docs/creators.vrchat.com/sdk/public-sdk-api.md
  docs/creators.vrchat.com/sdk/sdk-troubleshooting.md
  docs/creators.vrchat.com/sdk/updating-the-sdk.md
Labels: 🤯 翻译文本出错, 📄 文档, 👩‍💻 创作者文档, ✨ 翻译文本改进

#17 修正侧边栏导航和一部分文档枢纽中的错误用词
  docs/.vitepress/config/index.ts
  docs/.vitepress/config/sidebars.ts
  docs/docs.vrchat.com/OVERVIEW/additional-options/vrchat-configuration-window.md
  docs/docs.vrchat.com/OVERVIEW/controls/controls.md
Labels: 🤯 翻译文本出错, 📄 文档, 📑 文档枢纽, ✨ 翻译文本改进

#18 #17 的遗漏内容
  docs/.vitepress/config/sidebars.ts
Labels: 🤯 翻译文本出错, 📄 文档, 📑 文档枢纽, ✨ 翻译文本改进

#20 创作者文档世界部分已有翻译的二次校对 & 侧边栏菜单文本翻译
  docs/.vitepress/config/sidebars.ts
  docs/creators.vrchat.com/worlds/creating-your-first-world.md
  docs/creators.vrchat.com/worlds/index.md
  docs/creators.vrchat.com/worlds/udon/index.md
Labels: 🤯 翻译文本出错, 📄 文档, 🆕 新翻译, 👩‍💻 创作者文档
