Repository vrcd-community/vrchat-docs-localization, pull requests merged in 2024-01, with the labels that each got.

#40 index部分初步校对完成。
  docs/.vitepress/theme/components/CreatorsHome.vue
  docs/creators.vrchat.com/avatars/index.md
Labels: 📄 文档, 🆕 新翻译, 👩‍💻 创作者文档, ✨ 翻译文本改进

#49 添加 Sitemap
  docs/.vitepress/config/index.ts
Labels: 💡 文档软件:新特性, 💻 文档软件

#50 移除 Github Action
  .github/workflows/deploy-pages.yml
Labels: 💻 文档软件

#51 添加 Cloudflare Web Analytics
  .gitignore
  docs/.vitepress/config/index.ts
Labels: 💡 文档软件:新特性, 💻 文档软件

#60 升级依赖版本，文档枢纽路由重写，添加查看原文功能
  docs/.vitepress/config/index.ts
  docs/.vitepress/config/sidebars.ts
  docs/.vitepress/theme.backup/MyLayout.vue
  docs/.vitepress/theme.backup/components/FeedBack.vue
  docs/.vitepress/theme.backup/components/ModalDialog.vue
  docs/.vitepress/theme.backup/components/custom-block.css
  docs/.vitepress/theme.backup/components/vp-doc.css
  docs/.vitepress/theme.backup/custom.css
  docs/.vitepress/theme.backup/style.css
  docs/.vitepress/theme/components/ToOfficialDocs.vue
  docs/.vitepress/theme/css/components.css
  docs/.vitepress/theme/index.ts
  docs/docs.vrchat.com/vrchat-osc-api/osc-as-input-controller.md
  docs/docs.vrchat.com/vrchat-osc-api/osc-avatar-parameters.md
  docs/docs.vrchat.com/vrchat-osc-api/osc-debugging.md
  docs/docs.vrchat.com/vrchat-osc-api/osc-diy.md
  docs/docs.vrchat.com/vrchat-osc-api/osc-eye-tracking.md
  docs/docs.vrchat.com/vrchat-osc-api/osc-overview.md
  docs/docs.vrchat.com/vrchat-osc-api/osc-resources.md
  docs/docs.vrchat.com/vrchat-osc-api/osc-trackers.md
  docs/docs.vrchat.com/vrchat-osc-api/oscquery.md
  package.json
  yarn.lock
Labels: 💡 文档软件:新特性, 💻 文档软件

#61 修复死链
  docs/creators.vrchat.com/avatars/animator-parameters.md
  docs/creators.vrchat.com/avatars/avatar-dynamics/index.md
  docs/creators.vrchat.com/avatars/avatar-performance-ranking-system.md
  docs/creators.vrchat.com/avatars/index.md
  docs/creators.vrchat.com/avatars/rig-requirements.md
  docs/creators.vrchat.com/images/worlds/event-execution-order.svg
  docs/creators.vrchat.com/images/worlds/udon/event-execution-order.svg
  docs/creators.vrchat.com/platforms/android/quest-content-limitations.md
  docs/creators.vrchat.com/sdk/index.md
  docs/creators.vrchat.com/worlds/examples/obstacle-course/build-from-demo-parts.md
  docs/creators.vrchat.com/worlds/submitting-a-world-to-be-made-public.md
  docs/creators.vrchat.com/worlds/udon/debugging-udon-projects.md
  docs/creators.vrchat.com/worlds/udon/midi/realtime-midi.md
  docs/docs.vrchat.com/OVERVIEW/additional-options/configuration-file.md
  docs/docs.vrchat.com/OVERVIEW/additional-options/gesture-toggle.md
  docs/docs.vrchat.com/OVERVIEW/additional-options/launch-options.md
  docs/docs.vrchat.com/OVERVIEW/additional-options/vrchat-configuration-window.md
  docs/docs.vrchat.com/OVERVIEW/controls/action-menu.md
  docs/docs.vrchat.com/OVERVIEW/controls/controls.md
  docs/docs.vrchat.com/OVERVIEW/controls/keyboard-and-mouse.md
  docs/docs.vrchat.com/OVERVIEW/controls/touch.md
  docs/docs.vrchat.com/OVERVIEW/frequently-asked-questions.md
  docs/docs.vrchat.com/OVERVIEW/getting-started.md
  docs/docs.vrchat.com/SYSTEM/avatar-fallback-system.md
  docs/docs.vrchat.com/SYSTEM/full-body-tracking/full-body-tracking.md
  docs/docs.vrchat.com/SYSTEM/full-body-tracking/ik-20-features-and-options.md
  docs/docs.vrchat.com/SYSTEM/vrchat-safety-and-trust-system.md
  docs/docs.vrchat.com/index.md
  docs/docs.vrchat.com/vrchat-osc-api/osc-overview.md
  docs/udonsharp.docs.vrchat.com/events.md
  docs/udonsharp.docs.vrchat.com/index.md
  docs/udonsharp.docs.vrchat.com/vrchat-api.md
  docs/vcc.docs.vrchat.com/guides/faq.md
  docs/vcc.docs.vrchat.com/guides/using-project-template-repos.md
  docs/vcc.docs.vrchat.com/guides/version-matching.md
  docs/vcc.docs.vrchat.com/vpm/curated-community-packages.md
  docs/vcc.docs.vrchat.com/vpm/templates.md
Labels: 💻 文档软件, 🐛 文档软件:Bug

#37 一部分 Udon 介绍性文档 (index.md) 的翻译
  docs/creators.vrchat.com/sdk/sdk-troubleshooting.md
  docs/creators.vrchat.com/sdk/updating-the-sdk.md
  docs/creators.vrchat.com/worlds/creating-your-first-world.md
  docs/creators.vrchat.com/worlds/index.md
  docs/creators.vrchat.com/worlds/udon/data-containers/index.md
  docs/creators.vrchat.com/worlds/udon/graph/index.md
  docs/creators.vrchat.com/worlds/udon/index.md
  docs/creators.vrchat.com/worlds/udon/midi/index.md
  docs/creators.vrchat.com/worlds/udon/networking/index.md
  docs/creators.vrchat.com/worlds/udon/players/index.md
  docs/creators.vrchat.com/worlds/udon/video-players/index.md
  docs/vcc.docs.vrchat.com/vpm/source-control.md
  docs/vcc.docs.vrchat.com/vpm/templates.md
Labels: 📄 文档, 📝 在做了, 🆕 新翻译, 👩‍💻 创作者文档

#62 修复死链
  docs/creators.vrchat.com/worlds/udon/data-containers/index.md
Labels: 💻 文档软件, 🐛 文档软件:Bug

#63 修复 iframe 超出查看原文窗口的问题
  docs/.vitepress/theme/components/ToOfficialDocs.vue
  docs/.vitepress/theme/css/components.css
Labels: 💻 文档软件, 🐛 文档软件:Bug
