Repository vrcd-community/vrchat-docs-localization, pull requests merged in 2024-04, with the labels that each got.

#79 修复死链
  docs/creators.vrchat.com/avatars/animator-parameters.md
Labels: 📄 文档, 📑 文档枢纽, 译文有误

#80 一系列 Deno 部署的问题
  .github/workflows/deploy.yml
  deno_server/deno.json
  deno_server/deno.lock
  deno_server/deno_web_server.ts
Labels: 💡 文档软件:新特性, 💻 文档软件, 🐛 文档软件:Bug

#82 SDK升级相关的文档~
  docs/creators.vrchat.com/sdk/upgrade/current-unity-version.md
  docs/creators.vrchat.com/sdk/upgrade/index.md
Labels: 📄 文档, 🆕 新翻译, 👩‍💻 创作者文档
